@use '../../scss/variables.scss' as var;

.header__landing{
    button {
        background-color: var.$orange-color;
        border: transparent;
        &:hover{
            background-color: var.$green-color;
        }
    }
}