@use '../../scss/variables.scss' as var;

.section_search_results {
    .accordion-button:not(.collapsed){
        background-color: transparent;
        color: var.$green-color;
    }
    h2 {
        font-size: 1.2rem;
    }
}