$primary-color: #f3f3f3;
$secondary-color: #312f2f;
$red-color: #fe5e54;
$green-color: #046e1b;
// $bisque-color: #ffe1c5;
$bisque-color: #fff4ea;
$orange-color: #f79f1a;
$primary-text-color:#000000;
$secondary-text-color: #7F7D7D;